  @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,500;0,600;1,100;1,500&display=swap');
/*  global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
    font-family: 'Urbanist', sans-serif;
    /* font-family: cursive; */
}
html{
    scroll-behavior: smooth;
}
:root{
--main-color:#0075ff;
--main-bg-color:#146379;
--main-padding:30px;
--main-transition:all 1s ease 0s;

}
.main-heading{
    letter-spacing: 1.9 ;
    font-weight: 100;
}

/*  end global style */
/* start styling nav */
.nav-link:hover{
color: var(--main-color) !important;
}
/* end styling nav */
/*  landing */
.background{
   height:1000px;

}


/*  landing */
/*   services */
.imges{
    background-image:url('../imges/OIP.jpg') ;
   /* width: 100%; */
    background-size: cover;
}

/*   services */
/*  portofilio */
.explan{
    display: none;
}
.pro img{
    cursor: pointer;
    transition:var(--main-transition);
}
.pro:hover img{
    transform: scale(1.1);
    
}
.pro .explan{
    transition: var(--main-transition);
    height: 30%;

}
.pro:hover .explan{
    display: block;
}
/* .media{
    background-attachment: ;
} */
/*  portofilio */
/* about */
.about-sec{
    background-image: url('../imges/about2.jpg');
    background-position: center;
    background-size: cover;
  
}
.end-about{
    background-image: url('../imges/end-about.jpeg');
    background-position: center;
    background-size: cover;
  
}
/* about */