/*  global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}
html{
    scroll-behavior: smooth;
}
:root{
--main-color:#0075ff;
--main-bg-color:#146379;
--main-padding:30px;
--main-transition:all 1s ease 0s;

}
.main-heading{
    letter-spacing: 1.9px ;
    font-weight: 100;
}

/*  end global style */
/* start styling nav */
.nav-link:hover{
color: var(--main-color) !important;
}
/* end styling nav */
/*  landing */
.background{
   height:1000px;
   position: relative;
   overflow: hidden;
}
.landing{
   background:var(--main-bg-color) !important;
    padding-left: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
    line-height: 1.9;
}

/*  landing */
/*   services */
.imges{
 
    background-image:url('../imges/OIP.jpg') ;
   width: 100%;
    background-size: cover;
}

/*   services */
/*  portofilio */
.explan{
    display: none;
}
.pro img{
    cursor: pointer;
    transition:var(--main-transition);
}
.pro:hover img{
    transform: scale(1.1);
    
}
.pro .explan{
    transition: var(--main-transition);

}
.pro:hover .explan{
    display: block;
}
.media{
    
}
/*  portofilio */
/* about */
.item li:hover{
background-color: var(--main-color);
color: whitesmoke;
cursor: pointer;
margin: 0 5px;
}
/* about */